In [ ]:
"Q1" 
 single line comments : To add comment on a single line you can use the hash symbol (#) followed by your comment
     for example = #this is single line comments

In [ ]:
"Q2"
  variable are used to maniplute data they cost as different types such as numbers string or object varibles provides a way to acess and maniplate data throught your progrm
    # Delaration & assigmnet of variables
    name = "john" #assigment string value to the variable "name"
    age = 25 #assigmnet int value to the variable of "age"
    Price = 9.99 #assigment of floating point value to the variable of "price"

In [ ]:
"Q3"

In [ ]:
## convert a value to an intger data type
float_num = 5.14
int_num = int(float_num)
type(int_num)

In [ ]:
## convert a value to a floating point data type
int_num1 = 3
float_num1 = float(int_num1)
type(float_num1)

In [ ]:
## convert a value to a string data type
num = 10
str_num = str(num)
type(str_num)

In [ ]:
## convert a value to iterable to a list
string = "Hello World"
list_str = list(string)
type(list_str)

In [3]:
## convert a value to tuple data type
list_num =[1,2,3,4,5]
tuple_num = tuple(list_num)
type(tuple_num)

tuple

In [2]:
## converrt a value to a set data type
tuple_num1 = (1,2,3,4)
set_num = set(tuple_num1)
type(set_num)

set

In [3]:
## convert a value to a dictionary data type
list_num2 =[("a" , 1),("b" , 2),("c" ,3)]
dict_pair = dict(list_num2)
type(dict_pair)

dict

In [5]:
##Q5"
my_list = [1,2,3,4,5]
sub_list = [2,3]
print(sub_list)

[2, 3]

In [6]:
##Q5

age = 25

In [8]:
##Q6
complex_num = 5 + 6j
type(complex_num)

complex

In [9]:
##Q7
price = 9.99
type(price)

float

In [10]:
##Q8
name = "shahnawaz"
print(name)

shahnawaz

In [9]:
##Q9
string = "Hello World"
substring = string[6:]
print(substring)

World

In [10]:
##Q10
is_name = bool(input())
if is_name = true

True