Consider following code to answer further questions:

In [28]:
import pandas as pd
course_name = ['Data Science','Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data ={'course_name' : course_name, 'duration' : duration})

In [29]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [25]:
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

The loc function is used to index the DataFrame using labels. You can use loc to select rows and columns based on their labels. For example:

In [26]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}, index=['a', 'b', 'c'])
print(df.loc['b', 'B'])

5

The iloc function is used to index the DataFrame using integer positions. You can use iloc to select rows and columns based on their integer positions. For example:

In [27]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}, index=['a', 'b', 'c'])
print(df.iloc[1, 1])

5

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [33]:
df.reindex([3,0,1,2])

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [34]:
new_df = df.iloc[2]

In [35]:
new_df

course_name    Big Data
duration              6
Name: 2, dtype: object

In [36]:
new_df1 = df.iloc[2]

In [37]:
new_df1

course_name    Big Data
duration              6
Name: 2, dtype: object

Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:

In [1]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [2]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.847609  0.636051  0.804737  0.966245  0.066299  0.571715
2  0.961360  0.130286  0.597892  0.946119  0.974076  0.832668
3  0.569711  0.816862  0.166814  0.793372  0.935320  0.746358
4  0.442206  0.217833  0.483076  0.459200  0.625780  0.563290
5  0.210439  0.255383  0.016182  0.298242  0.489358  0.287140
6  0.239862  0.608313  0.186437  0.127870  0.206298  0.994428

In [40]:
df1.mean()

column_1    0.345897
column_2    0.338984
column_3    0.554654
column_4    0.663106
column_5    0.483710
column_6    0.415034
dtype: float64

In [51]:
df1.iloc[::,[1]].std()

column_2    0.24958
dtype: float64

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.

In [55]:
df1.loc[::,['column_2']] = 'string'

In [56]:
df1.dtypes

column_1    float64
column_2     object
column_3    float64
column_4    float64
column_5    float64
column_6    float64
dtype: object

In [57]:
df1.iloc[2].mean()

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('float64'), dtype('<U6')) -> None

If you are getting errors in executing it then explain why.

error show has because you cannot apply static formula in string vlaues only use statics formula folating and integer values


Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

Window functions in pandas are used to perform calculations across a set of rows that are interrelated with the current row. The window functions help us to perform aggregated calculations across various partitions or cross-sections of the data¹. 

Window functions in pandas can be broadly divided into three categories, namely- Aggregate, Ranking, and Value¹. 

The following are the types of window functions in pandas:

1. Rolling window: Generic fixed or variable sliding window over the values.
2. Weighted window: Weighted, non-rectangular window supplied by the scipy.signal library.
3. Expanding window: Accumulating window over the values.
4. Exponentially Weighted window: Exponentially weighted window over the values³.

Q7. Write a code to print only the current month and year at the time of answering this question.

In [3]:
import pandas as pd

now = pd.datetime.now()
print(now.strftime("%Y-%m"))

2023-07

/tmp/ipykernel_766/1076707782.py:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  now = pd.datetime.now()

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [10]:
date1 = input('Enter The first Date in format YYYY-MM-DD')
date2 = input('Enter The first Date in format YYYY-MM-DD')

Enter The first Date in format YYYY-MM-DD 2023-07-08
Enter The first Date in format YYYY-MM-DD 2023-07-06

In [14]:
date =pd.to_datetime(date1)
date3    =pd.to_datetime(date2)

In [15]:
date - date3

Timedelta('2 days 00:00:00')

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

file_path = input("Enter the file path: ")
column_name = input("Enter the column name: ")
category_order = input("Enter the category order separated by commas: ").split(",")

df = pd.read_csv(file_path)
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

print(df.sort_values(column_name))

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Read the CSV file
df = pd.read_csv(file_path)

# Convert the 'Date' column to datetime data type
df['Date'] = pd.to_datetime(df['Date'])

# Group the data by 'Date' and 'Category' and sum the sales
sales_by_category = df.groupby(['Date', 'Category'])['Sales'].sum().unstack()

# Create a stacked bar chart
sales_by_category.plot(kind='bar', stacked=True)

# Set the x-axis label
plt.xlabel('Date')

# Set the y-axis label
plt.ylabel('Sales')

# Set the title
plt.title('Sales by Product Category over Time')

# Show the chart
plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

In [2]:
Student_ID  = pd.DataFrame({'Student_ID':[1,2,3,4,5,6,7,8,9,10],
                            'Test_score':[85,90,80,75,85,82,78,85,90,85]})

In [7]:
df = pd.DataFrame(Student_ID)

In [12]:
mean = df['Test_score'].mean()
median = df['Test_score'].median()
mode = df['Test_score'].mode()

In [13]:
#convert table 
table = pd.DataFrame({ 'Statistic': ['Mean', 'Median', 'Mode'],
    'Value': [mean, median, mode]})

In [14]:
table

  Statistic                                   Value
0      Mean                                    83.5
1    Median                                    85.0
2      Mode  0    85
Name: Test_score, dtype: int64